@import "tailwindcss";

html body {
  width: 100vw;
  background-color: black;
  color: white;
}

@theme {
  --color-white-50: #d9ecff;
}

.slide {
  display: inline-block;
  flex-direction: column;
  transition: all cubic-bezier(0.71, 0.03, 0.34, 1);
  -webkit-transition: all cubic-bezier(0.71, 0.03, 0.34, 1);
  -moz-transition: all cubic-bezier(0.71, 0.03, 0.34, 1);
  -ms-transition: all cubic-bezier(0.71, 0.03, 0.34, 1);
  -o-transition: all cubic-bezier(0.71, 0.03, 0.34, 1);
}

.wrapper {
  display: flex;
  flex-direction: column;
  animation: wordSlider 21s infinite cubic-bezier(0.9, 0.01, 0.3, 99);
  -webkit-animation: wordSlider 21s infinite cubic-bezier(0.9, 0.01, 0.3, 99);
}

/* @keyframes slide {
  0% {
    transform: translateY(0%);
  }
  16.66% {
    transform: translateY(-100%);
  }
  33.33% {
    transform: translateY(-200%);
  }
  50% {
    transform: translateY(-300%);
  }
  66.66% {
    transform: translateY(-200%);
  }
  83.33% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.animate-slide {
  animation: slide 14s linear infinite;
} */

@keyframes slideWords {
  0% {
    transform: translateY(0);
  }
  12.5% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-60px);
  }
  37.5% {
    transform: translateY(-60px);
  }
  50% {
    transform: translateY(-120px);
  }
  62.5% {
    transform: translateY(-120px);
  }
  75% {
    transform: translateY(-180px);
  }
  87.5% {
    transform: translateY(-180px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-slide {
  animation: slideWords 8s ease-in-out infinite;
}
